<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Edit Blog</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    
    <div class="container1">
        <h1 class="recent mb-3">Edit your product</h1>
        <form action="/blog/edit/<%= blog._id %>" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input 
                type="text" 
                class="form-control" 
                id="title" 
                name="title" 
                aria-describedby="title"
                value="<%= blog.title %>"
                />
            </div>

            <div class="mb-3">
                <label for="coverImage" class="form-label">Product Image</label>
                <input 
                type="file" 
                class="form-control" 
                id="coverImage" 
                name="coverImage" 
                aria-describedby="coverImage"
                />
            </div>

            <div class="mb-3">
                <label for="body">Product Description</label>
                    <textarea name="body" class="form-control" id="body"
                    required=""><%= blog.body %></textarea>
                <!-- <div contenteditable="true" class="editable">
                    <div class="editor" name="body" id="body"></div>
                </div> -->
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Product Price</label>
                <input  
                type="text" 
                class="form-control" 
                id="price" 
                name="price" 
                aria-describedby="price"
                value="<%= blog.price %>"
                />
            </div>

            <div class="mb-3">
                <label for="heritage">Heritage</label>
                <input
                type="text"
                class="form-control"
                id="heritage"
                name="heritage"
                aria-describedby="heritage"
                value="<%= blog.heritage %>"                
                />
            </div>

            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input
                type="text"
                class="form-control"
                id="location"
                name="location"
                aria-describedby="location"
                value="<%= blog.location %>"
                />
            </div>

            

            <div class="mb-3">
                <button type="submit" id="viewBlog">Save</button>
                <button type="button" class="cancelbtn" onclick="window.location.href='/blog/<%= blog._id %>'">Cancel</button>
                </div>

    </div>
    <%- include('./partials/footer.ejs') %>
    <%- include('./partials/scripts.ejs') %>

</body>
</html>

