<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>My Blogs</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="container6">
        

        <div class="dashboard">
            <h2>Dashboard</h2>
            <p>Welcome, <%= user.fullName %>!</p>
            <!-- Add your dashboard content here -->
            <a href="/blog/add-new" class="btn btn-primary">Create a new blog</a>



        </div>

        
        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <% blogs.forEach(blog => { %>
                <tr>
                <td><div class="container">
                    <div class="blogImgLink">
                        <img src="<%= blog.coverImageURL %>" class="dashboardImg">
                    </div>
                    
                    <div class="blogTitleLink">
                        <a href="/blog/<%= blog._id %>"><%= blog.title %></a>
                    </div>
                    
                    </div>
                </td>
                <td>
                    <a href="/blog/edit/<%= blog._id %>" class="btn btn-secondary">Edit</a>
                    <a href="/blog/delete/<%= blog._id %>" class="btn btn-danger">Delete</a>
                </td>
                </tr>
            <% }) %>
            </tbody>
        </table>
    </div>
    <%- include('./partials/footer.ejs') %>
    <%- include('./partials/scripts.ejs') %>

</body>
</html>