<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <title>My Blogs</title>
</head>

<body>
    <%- include('./partials/nav.ejs') %>

        <div class="container11">
            <h2 class="dashboardTitle">Dashboard</h2>
            <p>Welcome, <%= user.fullName %>!</p>

            <div class="userProfile">
                <img src="<%= locals.user.profileImageUrl %>" class="dashboardPfp">
                <h3>
                    @<%= user.userName %>
                </h3>
                <h4><%= user.fullName %></h4>
                <p><%= user.email %></p>

                <a href="/blog/add-new" id="createBlog"><i class="fa-solid fa-plus"> | </i> Add a new Product</a>
                <br>
                <a href="/user/logout" id="logoutBtn"><i class="fa-solid fa-sign-out"> | </i> Logout</a>
            </div>



           
                <!-- Add your dashboard content here -->
                
                
            <div class="container10">
                <h5>My creations</h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Serial No.</th>
                            <th>Cover Image</th>
                            <th>Title</th>
                            <th>Published On</th>
                            <th>Comments</th>
                            <th>Actions</th>

                        </tr>
                    </thead>
                    <tbody>
                        <% blogs.forEach(blog=> { %>
                            <tr>
                                <td>
                                    <%= blogs.indexOf(blog) + 1 %>
                                </td>
                                <td>
                                    <img src="<%= blog.coverImageURL %>" class="coverImg" alt="<%= blog.title %>">
                                </td>
                                <td>
                                    <a href="/blog/<%= blog._id %>">
                                        <%= blog.title %>
                                    </a>
                                </td>
                                <td>
                                    <%= blog.createdAt.toLocaleDateString('en-US', { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' }) %>
                                </td>
                                <td>
                                    <%= blog.comments %>
                                </td>
                                <td>
                                    <a href="/blog/edit/<%= blog._id %>" class="editIcon"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a href="/blog/delete/<%= blog._id %>" class="deleteIcon"  onclick="if(!confirm('Are you sure you want to delete this blog?')) return false;"><i class="fa-solid fa-trash"></i></a>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>

            </div>
           
                
           
        </div>
        <%- include('./partials/footer.ejs') %>
            <%- include('./partials/scripts.ejs') %>
            

</body>

</html>